
.header-wrapp
    .header
        .header__text
            .header__title ПУТЕШЕСТВИЯ НАЧИНАЮТСЯ!!! ЗА РЕГИСТРАЦИЮ НА САЙТЕ
            .header__number +1000
            .header__info БОНУСОВ ОТ ИГРОВЫХ АВТОМАТОВ
            .header__logo VULKAN CASINO
            button.header__button ПРИСОЕЙДИНЯЙСЯ!