.wrapp-title-section
    .title-section
        button(class="hamburger") &#9776;
        button(class="cross") &#735;
        .title-section-item1
            a.title-section__logo-casino(href='')
            img(class="title-section__logo-text" alt="logo2" src="images/logo.png")
        


        .title-section-item2
            button.title-section__button-enter ВОЙТИ
            button.title-section__button-registration РЕГИСТРАЦИЯ


