.wrapp-info-container
    .info-container  
        .info-container-item
            .item2
                iframe(  src="https://www.youtube.com/embed/OYpE6dkDAwo"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                button.info-container__button ИГРАТЬ НА ДЕНЬГИ
            .info-container__table
                .info-container__header-table ХАРАКТЕРИСТИКИ ИГРЫ
                .info-container__row-table
                    img.info-container__icon(alt="icon" src="images/max.png")
                    .info-container__table-description MAX СТАВКА НА ЛИНИЮ
                    .info-container__table-info 1
                .info-container__row-table
                    img.info-container__icon(alt="icon" src="images/min.png")
                    .info-container__table-description MIN СТАВКА НА ЛИНИЮ
                    .info-container__table-info 25
                .info-container__row-table
                    img.info-container__icon(alt="icon" src="images/arrow.png")
                    .info-container__table-description MAX КОЭФФИЦИЕНТ
                    .info-container__table-info 5000
                .info-container__row-table
                    img.info-container__icon(alt="icon" src="images/flower.png")
                    .info-container__table-description ПЛАТФОРМА
                    .info-container__table-info Igrosoft
                .info-container__row-table
                    img.info-container__icon(alt="icon" src="images/diamant.png")
                    .info-container__table-description БОНУСНЫЕ ВРАЩЕНИЯ
                    .info-container__table-info Есть
                .info-container__row-table
                    img.info-container__icon(alt="icon" src="images/w.png") 
                    .info-container__table-description ДИКИЙ СИМВОЛ
                    .info-container__table-info Есть/Нет
                .info-container__row-table
                    img.info-container__icon(alt="icon" src="images/777.png")
                    .info-container__table-description КОЛИЧЕСТВО БАРАБАНОВ
                    .info-container__table-info 5
                .info-container__row-table
                    img.info-container__icon(alt="icon" src="images/line.png") 
                    .info-container__table-description КОЛИЧЕСТВО ЛИНИЙ
                    .info-container__table-info 9 или больше
                .info-container__row-table
                    img.info-container__icon(alt="icon" src="images/x2.png")
                    .info-container__table-description ИГРА НА УДВОЕНИЕ
                    .info-container__table-info Есть/Нет




        
        p Игровые автоматы Bananas go Bahamas известны многим игрокам со стажем: именно такие однорукие бандиты с популярной в свое время фруктовой тематикой стояли в каждом зале наземных казино. С развитием новых технологий стало возможным играть онлайн, сидя дома и не покидая любимого кресла, поэтому игровой автомат Бананы переместился на просторы интернета.
        p Оформление и игровая механика слотов Bananas go Bahamas осталась прежней: старинная машина конца прошлого века, нет музыкального сопровождения как такового (есть только ни с чем несравнимый звук, который издают барабаны во время вращения). Очень простой игровой процесс и множество выигрышных комбинаций: игровой автомат Бананы относится к категории ретро-аппаратов, способных заострить внимание геймеров на процессе игры, не отвлекаясь на внешнюю составляющую.
        h1 Небольшая памятка для новичков, выбирающих игру в Бананы
        p Слоты Bananas go Bahamas – это классика во всем: пять барабанов и 9 линий, из которых можно выбрать несколько и сделать ставки. Есть карточная риск-игра и бесплатные вращения: возможность увеличения выигрыша и шанс на джекпот.
        p Чтобы процесс игры был безболезненным, и не пришлось рисковать собственными сбережениями, опробуйте эмуляторы Bananas go Bahamas бесплатно и без регистрации. Каждый игровой автомат Бананы имеет режим демо игры, а виртуальные кредиты на ваш счет зачисляются автоматически. Итак, начинаем: выбираете нужное число выигрышных линий, не забывая о том, что, чем их больше, тем вероятнее будет поражение. Делаете ставки на каждую линию, нажимаете кнопку «Старт» и запускаете вращение барабанов.

        h2 Специальные символы слота Bananas
        p Специальные символы, имеющиеся у такого простого на вид слота, как Bananas go Bahamas, помогают получать невероятно крупные выигрыши: иногда суммы способны составить конкуренцию даже ставкам на спорт. Изображение веселого банана («дикого» символа) заменяет собой ту картинку, которая необходима для составления выигрышной линии. Да еще и сумма выигрыша с появлением такой картинки увеличивается в два раза.
        p Игровой автомат Бананы имеет и символ разброса: чемодан путешественника. Если картинки появятся на любых линиях, и их количество будет не менее трех, аппараты Bananas go Bahamas подарят вам возможность испытать настоящий азарт и запустить бесплатное вращение барабанов.
        p Выигрышные комбинации при участии символа scatter увеличиваются в несколько раз. Аппарат Bananas go Bahamas настроен таким образом, что ваш выигрыш будет умножен на количество активных линий и на специальный коэффициент. Например, за два символа сумма будет удвоена, за три символа она возрастет в пять раз, а четыре символа сделают вас богаче в 20 раз.

        h2 Риск игра и бесплатные вращения: все удовольствия в одном месте
        p Игровой автомат Бананы предлагает карточную риск-игру, которая ничем не отличается от игр на других автоматах фирмы Новоматик. В данном случае дилер будет тасовать карты, а задача игрока – угадать, какого цвета будет карта, когда он остановится. Если повезет, то геймер станет богаче в два раза, если удача отвернется, то можно остаться у разбитого корыта: весь выигрыш сгорит. Запустить риск-игру на слоте Bananas go Bahamas можно в любой момент (после победы), как и остановить.
        p Бесплатные вращения (до 45) игровой автомат Бананы подарит вам после того, как на активных линиях выпадет от трех символов разброса. Если за это время вы опять увидите три чемодана, то деньги останутся вашими, а отсчет начнется сначала.