.wrapp-main-block
    .main-block
        .main-block-item1
            .container
                .img
                    img.info-container__game(alt="icon" src="images/fruit2.png")
                .middle
                    .info-container__title-game FRUIT COCKTAIL
                    .demo
                        a(href="")
                            img.info-container__demo(alt="icon" src="images/demo.png")
                        a.info-container__demo-button ДЕМО
            .container
                .img
                    img.info-container__game(alt="icon" src="images/wolf.png")
                .middle
                    .info-container__title-game WOLF MOON
                    .demo
                        a(href="")
                            img.info-container__demo(alt="icon" src="images/demo.png")
                        a.info-container__demo-button ДЕМО
        
            .container
                .img
                    img.info-container__game(alt="icon" src="images/gods.png")
                .middle
                    .info-container__title-game GOD'S TEMPLE
                    .demo
                        a(href="")
                            img.info-container__demo(alt="icon" src="images/demo.png")
                        a.info-container__demo-button ДЕМО
        

            .container
                .img
                    img.info-container__game(alt="icon" src="images/therift.png")
                .middle
                    .info-container__title-game THE RIFT
                    .demo
                        a(href="")
                            img.info-container__demo(alt="icon" src="images/demo.png")
                        a.info-container__demo-button ДЕМО
        

            .container
                .img
                    img.info-container__game(alt="icon" src="images/glory.png")
                .middle
                    .info-container__title-game AZTEC GLORY
                    .demo
                        a(href="")
                            img.info-container__demo(alt="icon" src="images/demo.png")
                        a.info-container__demo-button ДЕМО
        
            .container
                .img
                    img.info-container__game(alt="icon" src="images/rise.png")
                .middle
                    .info-container__title-game RISE OF RAY
                    .demo
                        a(href="")
                            img.info-container__demo(alt="icon" src="images/demo.png")
                        a.info-container__demo-button ДЕМО
        
            .container
                .img
                    img.info-container__game(alt="icon" src="images/fruit2.png")
                .middle
                    .info-container__title-game FRUIT COCKTAIL
                    .demo
                        a(href="")
                            img.info-container__demo(alt="icon" src="images/demo.png")
                        a.info-container__demo-button ДЕМО
        
            .container
                .img
                    img.info-container__game(alt="icon" src="images/gold.png")
                .middle
                    .info-container__title-game 15 GOLDEN EGGS
                    .demo
                        a(href="")
                            img.info-container__demo(alt="icon" src="images/demo.png")
                        a.info-container__demo-button ДЕМО
        
            .container
                .img
                    img.info-container__game(alt="icon" src="images/lucky.png")
                .middle
                    .info-container__title-game LUCKY XMAS
                    .demo
                        a(href="")
                            img.info-container__demo(alt="icon" src="images/demo.png")
                        a.info-container__demo-button ДЕМО
        
            .container
                .img
                    img.info-container__game(alt="icon" src="images/ex.png")
                .middle
                    .info-container__title-game ESQUELETO EXPLOSIVO
                    .demo
                        a(href="")
                            img.info-container__demo(alt="icon" src="images/demo.png")
                        a.info-container__demo-button ДЕМО
        
            .container
                .img
                    img.info-container__game(alt="icon" src="images/frog.png")
                .middle
                    .info-container__title-game Frog Grog
                    .demo
                        a(href="")
                            img.info-container__demo(alt="icon" src="images/demo.png")
                        a.info-container__demo-button ДЕМО
        

            .container
                .img
                    img.info-container__game(alt="icon" src="images/pick.png")
                .middle
                    .info-container__title-game Pink Elephants
                    .demo
                        a(href="")
                            img.info-container__demo(alt="icon" src="images/demo.png")
                        a.info-container__demo-button ДЕМО
        
        
        
     
        .main-block-item2
            h1 Игровые автоматы на сайте Вулкан казино
            p Официальный сайт Вулкан тяжело найти в интернете изза многочисленных подделок в сети. Казино занимает лидирующие позиции в топе популярности у игроков из России и стран СНГ. В Клубе более 300 азартных игр и игровых автоматов. Вулкан предлагает автоматы производителей:
            p Игрософт; Новоматик Гаминатор; Нетент. Vulkan ориентирован на опытных игроков,но новичкам тут тоже рады. Неопытные пользователи для начала могут ознакомиться с казино в бесплатной игре без регистрации.

            h2 Бонусы и турниры в клубе Вулкан
            p Казино Вулкан славится репутацией в интернете, в подтверждение честности в клубе регулярно проходят турниры и лотереи с призовым фондом в нексолько тысяч долларов. Чтобы победить в турнире, нужно себя проявить, а лотерея - не более, чем случайность. Каждый, кто купил хотя бы 1 билет, получает шанс на выигрыш. Приз зачисляется на игровой счет в виде денежной суммы.
            p Если любите покрутить игровые автоматы бесплатно и без регистрации, то выбирайте официальный сайт Вулкан - портал в мир азарта и удовольствия.
            p Гемблеры с опытом игры в наземных залах наверняка помнят клуб Вулкан. 10 лет назад сине-красная вывеска заведения зазывала ярким светом игроков в Москве и других городах России. Интернет портал смог упростить доступ к любимым игровым онлайн автоматам. ИГрать стало проще: не ищите незаконные игровые залы, запустите онлайн слот в браузере на компьютере или телефоне и играйте в свое удовольствее.

            h2 Играть на деньги или бесплатно - что же выбрать?
            p В казино каждая игра доступна бесплатно и на реальные деньги.
            p После того, как казино появилось в интернете, стало понятно, что азартные игры остались интересными и увлекательным, как раньше. Виртуальные игровые автоматы не отличаются от наземных. На официальныом сайте Вулкан множество позитивных комментариев игроков.
            p На Вулкане вас ждут в любое время суток, при этом неважно, играете вы на деньги или развлекаетесь бесплатно.
            p Платежных методов на сайте много, выбирайте подходящий для вас. Способы пополнения счета:
            p банковские карты; электронные кошельки; смс-платежи. Сайт Вулкан регулярно организовывает лотереи и увлекательные турниры. Отдельно клуб поощряет Вип игроков, прдоставляя расширенную техподдержку и дополнительный сервис по телефону.

            h3 Техническая поддержка в Вулкан казино
            p Казино предоставляет круглосуточную помощь посетителям сайта. Обращайтесь с поддержку по игровым вопросам, вопросам пополнения и вывода. Также клуб Вулкан поддерживает онлайн-чат. Консультанты помогут решить вопросы максимально быстро.
            p Казино дарит посетителям положительные эмоции и денежные призы.
            p Официальный сайт Вулкан щедр на деньги. По этой причине клуб Вулкан регулярно устраивает лотереи, в которых вы запросто выиграете часть призового фонда. Каждую неделю клуб устраивает тематические конкурсы. Условия официальный сайт Вулкан дарит бонусные очки за ставки в конкретных слотах. Активных игроков клуб Вулкан одарит денежными призами.

            a.link(href="https://officialnyj-site-kazino-vulkan.com/bananas-go-bahamas.htm" ) https://officialnyj-site-kazino-vulkan.com/bananas-go-bahamas.htm
