.wrapp-link-section
    .link-section.menu
        a(href="" class='link-section__link' target='_blank') ГЛАВНАЯ
        a(href="index3.html" class='link-section__link' target='_blank') КАЗИНО
        a(href="index2.html" class='link-section__link' target='_blank') ЗЕРКАЛО
        a(href='' class='link-section__link' target='_blank') БОНУСЫ
   
