.wrapp-pay-info
    .pay-info
        .pay-info__header Мы принимаем к оплате:
        .pay-info__links
            a(class="pay-info__icon pay-info__icons_paypal" href='')
            a(class="pay-info__icon pay-info__icons_mastercard" href='')
            a(class="pay-info__icon pay-info__icons_yandex" href='')
            a(class="pay-info__icon pay-info__icons_maestro" href='')
            a(class="pay-info__icon pay-info__icons_visa" href='')