.wrapper-link-menu
    .link-menu
        a(href='' class='link-menu__link' target='_blank') ВСЕ
        a(href='' class='link-menu__link' target='_blank') ПОПУЛЯРНЫЕ
        a(href='' class='link-menu__link' target='_blank') КАЗИНО БОНУС
        a(href='' class='link-menu__link' target='_blank') ИГРАТЬ ОНЛАЙН
        a(href='' class='link-menu__link' target='_blank') СВОЕ КАЗИНО
        a(href='' class='link-menu__link' target='_blank') БЕСПЛАТНЫЕ СЛОТЫ
