.wrapp-footer
    .footer
        .footer-item
            a.footer__logo-casino(href='')
            img(class="footer__logo-text" alt="logo2" src="images/logo.png")

        .footer-item2
            form.footer__form(action="post")
                input.footer__login(type="text" placeholder="ЛОГИН" name="name" required)
                input.footer__password(type="text" placeholder="ПАРОЛЬ" name="email" required) 
                button(type="submit").footer__button-enter ВОЙТИ
                button(type="submit").footer__button-registration РЕГИСТРАЦИЯ
        

.wrapp-footer-text
    .footer-text
        .footer-text__author © 2018 cyberpunc.ru

        
