doctype html
html(lang="ru")
  head
    meta(charset='UTF-8')
    title casinovulkan
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name="description" content ="")
    meta(name="keywords" content="")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,700")
    link(rel='stylesheet', href='./css/all.css')
    link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet")
    
    
  body
    button( id="myBtn") 
    include componets/title-section/title-section.pug
    include componets/link-section/link-section.pug
    include componets/header/header.pug
    include componets/menu-section/menu-section.pug
    include componets/main-block/main-block.pug
    include componets/link-menu/link-menu.pug
    include componets/pay-info/pay-info.pug
    include componets/footer/footer.pug
    script(src="js/index.js")


  