.menu-section
    .menu-section-item
        .menu-section__button
            img.menu-section__img(alt ="icon" src="images/all.png")
            h6.menu-section__text ВСЕ

        .menu-section__button
            img.menu-section__img(alt ="icon" src="images/famous.png")
            h6.menu-section__text ПОПУЛЯРНЫЕ

        .menu-section__button
            img.menu-section__img(alt ="icon" src="images/bonus.png")
            h6.menu-section__text КАЗИНО БОНУС
    
        .menu-section__button
            img.menu-section__img(alt ="icon" src="images/online.png")
            p.menu-section__text ИГРАТЬ ОНЛАЙН

        .menu-section__button
            img.menu-section__img(alt ="icon" src="images/mycasino.png")
            p.menu-section__text СВОЕ КАЗИНО
    
        .menu-section__button
            img.menu-section__img(alt ="icon" src="images/slot.png")
            p.menu-section__text БЕСПЛАТНЫЕ СЛОТЫ